<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Princess Bride Mad Lib:</h1>
    <p>Hello there! Slow @Model.VerbOne?</p>
    <p>Look, I don't mean to be @Model.AdjOne,</p>
    <p>but this is not as @Model.AdjTwo as it looks, </p>
    <p>so I'd @Model.VerbTwo it if you wouldn't distract me.</p>
    <p>Sorry. </p>
    <p>Thank you. </p>
    <p>I do not suppose you could speed things up?</p>
    <p>If you're in such a @Model.VerbThree, you could lower a @Model.NounOne or a @Model.NounTwo, or find something useful to @Model.VerbFour.</p>
  </body>
</html>